* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
label {
  font-size: 18px;
  font-weight: 500;
}
#languageSelect {
  margin-bottom: 10px;
  font-size: 25px;
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 5px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
button {
  margin: 15px;
  padding: 10px;
  font-size: 21px;
  cursor: pointer;
  background-color: aquamarine;
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}
button:hover {
  background-color: rgb(48, 227, 167);
}
#message {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 800;
  color: red;
}

#myWord,
#computerWord {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: blue;
}
#myWord{
         color: green;
}